html{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 241, 241);
    background-color: rgb(41, 41, 41);
    touch-action: manipulation;
}
.all-copy{  
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */   
  }
  h2{
    font-size: 14px;
  }
  .list-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.btn{
    background-color: rgb(210, 210, 210);
    color: rgb(43, 43, 43);
    height:fit-content;
    width: fit-content;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
    font-weight: 600;
    margin: 5px;
}
h1{
    text-align: center;
    margin:10px;
}
p{
    text-align: center;
}
.fact{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    font-size: 14px;
    margin: 10px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:98vh;
}
